__pycache__

# log file
log.md
*.log
log.txt

# task files
*.json

# onnx model files
*.onnx

# result file
*.csv

# tf/trt saved model
*saved_model*

# orion-related
*orion*

# tensorboard dir
logs

# experiments
experiments

# env
*env

# perf-result
perf_result

# tensorrt saved results
tf2trt_saved
